<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="{global.baseUrl}" />
    <title>{head.title} | {global.appName}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{head.description}" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="public/app.css"
    />
    <script src="public/app.js"></script>
  </head>
  <body class="{body.class}">
    <!-- Page wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header"></div>
      <!-- Navigation -->
      <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/" class="loggedOut">Signup</a></li>
          <li><a href="/" class="loggedOut">Login</a></li>
          <li><a href="/" class="loggedIn">Dashboard</a></li>
          <li><a href="/" class="loggedIn">Account Settings</a></li>
          <li><a href="/" class="loggedIn">Logout</a></li>
      </ul>
      <!-- Page specific content -->

      <div class="content">
 